@{
  Layout = "_Layout";
}

@using HairSalon.Models;
<div class = "container">
<h1>Selected Specialty: </h1>
<h2>Today's Special: @Model["selectedSpecialty"].GetDescription()</h2>


<hr />

@if (@Model["listStylists"].Count != 0)
{
  <h4>Following stylists can perform this procedure:</h4>
  <ul>
    @foreach (Stylist stylist in @Model["currentStylist"])
    {
      <li>@stylist.GetName()</li>
    }
  </ul>
}

<h4>Add a stylist for this specialty:</h4>
<form action='/specialties/@Model["selectedSpecialty"].GetId()' method='post'>
  <label for='StylistId'>Select a stylist</label>
  <select id='StylistId' name='StylistId' type='text'>
    @foreach (var stylist in @Model["listStylists"])
    {
      <option value='@stylist.GetId()'>@stylist.GetName()</option>
    }
  </select>
  <button type='submit' class = 'btn btn-danger' >Add stylist</button>
</form>
<a href = "/" class="btn btn-danger">Home</a>
<br/>
<br/>
<a href="/specialties/@Model["selectedSpecialty"].GetId()/delete" class = 'btn btn-danger'>Delete Specialty</a>
</div>
